@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@layer utilities {
    .w-5\/5 {
        @apply w-full
    }

    .ml-1\/5 {
        margin-left: 20%;
    }

    .ml-2\/5 {
        margin-left: 40%;
    }

    .ml-3\/5 {
        margin-left: 60%
    }

    .ml-4\/5 {
        margin-left: 80%
    }

    .top-30 {
        top: 7.5em;
    }

    .top-40 {
        top: 10em;
    }

    .top-50 {
        top: 12.5em;
    }

    .top-60 {
        top: 15em;
    }

    .top-70 {
        top: 17.5em;
    }

    .top-80 {
        top: 20em;
    }

    .top-90 {
        top: 22.5em;
    }
}