@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@layer utilities {
    .w-5\/5 {
        @apply w-full
    }

    .ml-1\/5 {
        margin-left: 20%;
    }

    .ml-2\/5 {
        margin-left: 40%;
    }

    .ml-3\/5 {
        margin-left: 60%
    }

    .ml-4\/5 {
        margin-left: 80%
    }

    .top-10 {
        top: 1.8em;
    }

    .top-20 {
        top: 3.7em;
    }

    .top-30 {
        top: 5.6em;
    }

    .top-40 {
        top: 7.5em;
    }

    .top-50 {
        top: 9.4em;
    }

    .top-60 {
        top: 11.3em;
    }

    .top-70 {
        top: 13.2em;
    }

    .top-80 {
        top: 15.1em;
    }

    .top-90 {
        top: 17.0em;
    }

    .top-90 {
        top: 18.9em;
    }
}